:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Inter;
}

header {
  background-color: #f55a5a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.header-logo {
  width: 24px;
  margin-right: 1%;
}

#header-title {
  color: #fff;
  font-size: medium;
  font-family: Inter;
  font-weight: 500;
}

section {
  display: flex;
  gap: 3%;
  margin: 10%;
}

a {
  color: #918e9b;
}

.marker {
  height: 20px;
}

.title-location {
  display: flex;
  align-items: end;
  gap: 10px;
}

p {
  font-weight: 400;
}

.location {
  font-weight: 300;
}

.photo {
  width: 140px;
  height: 180px;
  overflow: hidden;
  border-radius: 5px;
  flex-shrink: 0;
  margin-right: 15px;
}
